// perfil predeterminado del sistema de diseño sisdai https://sisdai.org/
body[data-perfil='predeterminada'],
body[data-perfil='sisdai'],
:root {
  // colores primarios
  --color-primario-4: #2B13B1;
  --color-primario-3: #3F17E4;
  --color-primario-2: #9674E1;
  --color-primario-1: #A28BDF;
  
  // colores secundarios
  --color-secundario-12: #201540;
  --color-secundario-11: #1f143f;
  --color-secundario-11-rgb: 31, 20, 63;
  --color-secundario-10: #2B204C;
  --color-secundario-9: #3A2F5B;
  --color-secundario-8: #453B67;
  --color-secundario-7: #6E6380;
  --color-secundario-6: #978CB7;
  --color-secundario-5: #BFB5E0;
  --color-secundario-4: #DBD0FB;
  --color-secundario-3: #E4DEFC;
  --color-secundario-2: #F4F1FE;
  --color-secundario-1: #FEFAF8;
}
