@use "sass:map";
@use "../_variables" as variables;
@use "../_mixins" as mix;

.contenedor-vis {
  --contenedor-vis-alto-menus: 50px;
  --contenedor-vis-alto-atribuciones: 58px;
  --contenedor-vis-alto-maximo: calc(100vh - var(--contenedor-vis-alto-menus));
  --contenedor-vis-alto-minimo-vis: 300px;

  background-color: var(--fondo-neutro);
  border-radius: map.get(variables.$borde-redondeado, "20");
  width: 100%;

  .contenedor-vis-paneles {
    display: grid;
    grid-gap: 0;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1;
    padding-top: map.get(variables.$espaciado, "2");
    padding-left: map.get(variables.$espaciado, "2");
    padding-right: map.get(variables.$espaciado, "2");

    .contenido-vis {
      width: 100%;
      margin: 0;
      min-height: var(--contenedor-vis-alto-minimo-vis);
      position: relative;
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;

      .contenedor-svg-ejes-tooltip {
        position: relative;
        width: 100%;
        display: inline-block;

        .contenedor-titulo-eje-y {
          display: inline-block;

          .titulo-eje-y {
            position: absolute;
            display: block;
            transform-origin: top left;
            text-align: center;
          }
        }

        .contenedor-titulo-eje-x {
          position: relative;
          width: 100%;

          .titulo-eje-x {
            text-align: center;
          }
        }

        figure {
          position: absolute;
          top: 0;
          margin: 0;

          svg {
            .vis-linea-ejes {
              stroke: var(--borde-secundario);
              stroke-dasharray: 3 3;
              stroke-width: 1px;
            }

            .vis-linea-base {
              stroke: var(--borde);
              stroke-width: 1px;
            }
          }
        }
      }
    }

    .panel-encabezado-vis,
    .panel-izquierda-vis,
    .panel-derecha-vis,
    .panel-pie-vis {
      scrollbar-width: thin;
      position: relative;
      display: none;
      overflow: hidden auto;
      grid-column: 1 / span 1;
      grid-row-end: span 1;

      > :first-child:not(.figura-variable) {
        margin-top: 0;
      }

      > :last-child:not(.nombre-variable) {
        margin-bottom: 0;
      }
    }

    .panel-encabezado-vis {
      grid-row-start: 1;
      margin: calc(map.get(variables.$espaciado, "1") * -1);
      padding: map.get(variables.$espaciado, "1")
        map.get(variables.$espaciado, "1") map.get(variables.$espaciado, "3");
    }

    .panel-izquierda-vis {
      grid-row-start: 2;
      margin: calc(map.get(variables.$espaciado, "1") * -1);
      padding: map.get(variables.$espaciado, "1")
        map.get(variables.$espaciado, "1") map.get(variables.$espaciado, "3");
    }

    .panel-derecha-vis {
      grid-row-start: 4;
      margin: calc(map.get(variables.$espaciado, "1") * -1);
      padding: map.get(variables.$espaciado, "1")
        map.get(variables.$espaciado, "1") map.get(variables.$espaciado, "3");
    }

    .panel-pie-vis {
      grid-row-start: 5;
      margin: calc(map.get(variables.$espaciado, "1") * -1);
      padding: map.get(variables.$espaciado, "3")
        map.get(variables.$espaciado, "1") map.get(variables.$espaciado, "1");
    }

    &.con-panel-encabezado-vis .panel-encabezado-vis {
      display: block;
    }

    &.con-panel-izquierda-vis .panel-izquierda-vis {
      display: block;
    }

    &.con-panel-derecha-vis .panel-derecha-vis {
      display: block;
    }

    &.con-panel-pie-vis .panel-pie-vis {
      display: block;
    }

    @include mix.mediaquery("esc") {
      padding-left: map.get(variables.$espaciado, "3");
      padding-right: map.get(variables.$espaciado, "3");
      max-height: var(--contenedor-vis-alto-maximo);
      grid-template-rows: 0 1fr 0;
      min-height: calc(
        var(--contenedor-vis-alto-minimo-vis) + var(--contenedor-vis-alto-atribuciones) + 24px
      );

      .panel-izquierda-vis,
      .contenido-vis,
      .panel-derecha-vis {
        grid-row-start: 2;
      }

      .panel-derecha-vis {
        padding-bottom: map.get(variables.$espaciado, "1");
        padding-left: map.get(variables.$espaciado, "3");
      }

      .panel-izquierda-vis {
        padding-bottom: map.get(variables.$espaciado, "1");
        padding-right: calc(map.get(variables.$espaciado, "3"));
        margin-right: 0;
      }

      .panel-pie-vis {
        grid-row-start: 3;
      }

      &.con-panel-encabezado-vis {
        grid-template-rows: auto auto 0;

        &.con-panel-izquierda-vis,
        &.con-panel-derecha-vis {
          grid-template-rows: auto 1fr 0;
        }
      }

      &.con-panel-encabezado-vis,
      &.con-panel-pie-vis {
        &.con-panel-izquierda-vis,
        &.con-panel-derecha-vis {
          .panel-encabezado-vis,
          .panel-pie-vis {
            grid-column-end: span 2;
          }
        }
      }

      &.con-panel-encabezado-vis.con-panel-pie-vis {
        grid-template-rows: auto auto auto;
      }

      &.con-panel-izquierda-vis {
        grid-template-columns: 1fr 2fr;

        .contenido-vis {
          grid-column-start: 2;
        }
      }

      &.con-panel-derecha-vis {
        grid-template-columns: 2fr 1fr;

        .contenido-vis {
          grid-column-start: 1;
        }

        .panel-derecha-vis {
          grid-column-start: 2;
        }
      }

      &.con-panel-izquierda-vis.con-panel-derecha-vis {
        grid-template-columns: 1fr 2fr 1fr;

        .panel-encabezado-vis,
        .panel-pie-vis {
          grid-column-end: span 3;
        }

        .contenido-vis {
          grid-column-start: 2;
        }

        .panel-derecha-vis {
          grid-column-start: 3;
        }
      }

      &.con-panel-pie-vis {
        grid-template-rows: 0 auto auto;

        &.con-panel-izquierda-vis,
        &.con-panel-derecha-vis {
          grid-template-rows: 0 1fr auto;
        }

        &.con-panel-encabezado-vis {
          &.con-panel-izquierda-vis,
          &.con-panel-derecha-vis {
            grid-template-rows: auto 1fr auto;
          }
        }
      }
    }
  }

  .contenedor-vis-atribuciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    padding-top: map.get(variables.$espaciado, "2");
    padding-bottom: map.get(variables.$espaciado, "2");
    margin-top: map.get(variables.$espaciado, "2");
    margin-left: map.get(variables.$espaciado, "2");
    margin-right: map.get(variables.$espaciado, "2");

    @include mix.mediaquery("esc") {
      margin-left: map.get(variables.$espaciado, "3");
      margin-right: map.get(variables.$espaciado, "3");
    }

    .atribuciones-logo {
      filter: grayscale(100%);

      img {
        float: left;
        height: 24px;
        opacity: 0.5;
        transition: all 0.25s ease-in-out;
      }

      &:hover,
      &:focus {
        filter: grayscale(0%);

        img {
          opacity: 1;
        }
      }
    }
  }

  &.sin-atribuciones {
    .contenedor-vis-atribuciones {
      display: none;
    }
  }
}

// estas aun se utilizan? deberian ir dentro del contenedor vis?
// agrega el padding de los elementos anidados
.leyenda-clases {
  padding: 0 0 0 calc(1.25rem + 4px);
}

.titulo-clases {
  margin: map.get(variables.$espaciado, "1") 0;
  padding: 0 0 0 map.get(variables.$espaciado, "1");
}

// clases especiales gema
.contenedor-vis.gema {
  height: 100%;
  position: relative;

  .contenedor-vis-paneles {
    height: 100%;
    max-height: max-content;
    padding: 0;
    border-radius: 0;
    grid-template-columns: 1fr auto;

    .contenido-vis {
      grid-column-end: span 2;
    }

    .panel-derecha-vis {
      z-index: 1;
    }
  }

  .contenedor-vis-atribuciones {
    display: none;
  }
}

.visualizador .contenedor-vis.gema {
  .sisdai-mapa-control {
    &-acercar-alejar,
    &-ajuste-vista {
      // preguntar sobre esta variable de margen a miguel
      right: calc(var(--margen) + 320px);
    }
  }
}
