@use 'sass:map';
@use '../_variables' as variables;
@use '../_mixins' as mix;

#app {
  overflow: clip;
}

.navegacion {
  background-color: var(--navegacion-primaria-fondo);
  box-shadow: 0 4px 8px -4px var(--navegacion-primaria-sombra);
  font-size: 0.875rem;
  display: block;
  position: relative;
  z-index: 9999;
  padding-left: map.get(variables.$contenedores, 'mov', 'margen-interior');
  padding-right: map.get(variables.$contenedores, 'mov', 'margen-interior');
  
  @include mix.mediaquery('esc') {
    padding-left: map.get(variables.$contenedores, 'esc', 'margen-interior');
    padding-right: map.get(variables.$contenedores, 'esc', 'margen-interior');
  }

  &.navegacion-pegada {
    position: sticky;
    top: 0;
  }
}

.navegacion + .navegacion {
  z-index: 9998;
}

.navegacion + .navegacion + .navegacion {
  z-index: 9997;
}

.nav-contenedor-identidad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .nav-informacion {
    background: var(--navegacion-primaria-seccion-fondo);
    color: var(--navegacion-primaria-seccion-color);
    font-size: 0.75rem;
    padding: map.get(variables.$espaciado, 'minimo') map.get(variables.$contenedores, 'mov', 'margen-interior');
    margin-left: calc(map.get(variables.$contenedores, 'mov', 'margen-interior') * -1);
    margin-right: calc(map.get(variables.$contenedores, 'mov', 'margen-interior') * -1);
    flex: 1 0 100%;

    @include mix.mediaquery('esc') {
      display: none;
    }
  }
}

.nav-logo {
  height: 38px;
}

.nav-menu-contenedor {
  background-color: var(--navegacion-primaria-fondo);
  box-shadow: 0 4px 8px -4px var(--navegacion-primaria-sombra);
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 320px;
  position: absolute;
  top: 46px;
  right: -320px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.abierto {
    right: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;

    &.submenu-abierto {
      right: -320px;
    }
  }
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }

  li:last-of-type .nav-boton {
    margin-bottom: map.get(variables.$espaciado, '2');
  }
}

.nav-submenu {
  background-color: var(--navegacion-primaria-fondo);
  box-shadow: 0 4px 8px -4px var(--navegacion-primaria-sombra);
  border-radius: 0 0 8px 8px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -320px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.abierto {
    right: 320px;
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
  }

  &.nav-submenu-columnas {
    columns: 2;
    width: 90vw;
  }
}


.navegacion.navegacion-extendida {
  display: flex;
  align-items: center;
  padding-left: map.get(variables.$contenedores, 'mov', 'margen-interior');
  padding-right: map.get(variables.$contenedores, 'mov', 'margen-interior');
  
  @include mix.mediaquery('esc') {
    padding-left: map.get(variables.$contenedores, 'esc', 'margen-interior');
    padding-right: map.get(variables.$contenedores, 'esc', 'margen-interior');
  }
  
  .nav-contenedor-identidad {
    display: flex;
    align-items: center;

    .nav-boton-menu,
    .nav-informacion {
      display: none;
    }
  }

  .nav-menu-contenedor {
    background-color: transparent;
    box-shadow: none;
    border-radius: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: visible;
    width: 100%;
    max-width: inherit;
    right: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;

    .nav-menu-complementario {
      padding-left: map.get(variables.$espaciado, '1');
      padding-right: map.get(variables.$espaciado, '1');
    }

    .nav-menu-principal {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    &.abierto.submenu-abierto {
      right: 0;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;

    li {
      position: relative;
    }

    li:last-of-type .nav-boton {
      margin-bottom: 0;
    }
  }

  .nav-submenu {
    overflow: clip;
    top: inherit;
    left: inherit;
    right: 0;
    width: inherit;

    .nav-hipervinculo {
      display: block;
    }

    &.abierto {
      right: 0;
    }
  }
}
